@media screen and (min-width:768px){
    search-bar {
        position: sticky;
        top: 20px;
        z-index: 1;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

search-bar{
    display: block;
}

#searchElement {
    box-shadow: 2px 3px 9px -3px rgb(75, 75, 75);
}